# Server Configuration
PORT=3000
NODE_ENV=development

# Security
JWT_SECRET=replace_this_with_a_long_random_string_in_production

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/weride?schema=public"

# Redis (High Performance Location Tracking & Caching)
REDIS_URL="redis://localhost:6379"
REDIS_HOST="localhost"
REDIS_PORT=6379


# Payments
STRIPE_SECRET_KEY=sk_test_...

# Mapbox (Navigation)
MAPBOX_ACCESS_TOKEN=pk...
